<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <strong>SKODT</strong>
        </a>
    </div>
</nav>
<center class="notification is-danger err-falied hidden">
    <button class="delete" onclick="hideNotification('err-falied')"></button>
    Something Went Wrong PLease Try again
</center>

<section class="section">
    <div class="container">
        <div class="field" id="drop-area">
            <div class="file is-centered is-boxed is-success has-name">
                <label class="file-label">
                    <input class="file-input" type="file" accept="image/x-png,image/jpeg" name="img" id="img">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Drop/Select Image
                        </span>
                    </span>
                    <span class="file-name">
                        <center>
                            file name
                        </center>
                    </span>
                </label>
            </div>
        </div>
    </div>

    {{!-- S: Loader  --}}
           <center>
                <div id="svg-load" class="hidden" style=" background: white">
                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
                        xml:space="preserve">
                        <path fill="#16a085" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                            <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25"
                                dur="0.6s" repeatCount="indefinite" />
                        </path>
                    </svg>
                    <p>Thinking</p>
                </div>
           </center>
    {{!-- E:Loader --}}

    <div id="gallery"></div>

    <div id="append-details"></div>

    <center class="notification is-danger err-falied no-resultFound hidden">
        OoOops No Result Found
    </center>
    <div id="append-result"></div>

</section>